html,
body {
  font-size: 17px;
  background: #FAFAFA;
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
  width: 88%;
  margin: 2rem auto;
  margin-top: 2rem;
}

p {
  line-height: 1.3rem;
  font-size: 0.9rem;
}


.introBox {
  margin-bottom: 3rem;
}

h1 {
  font-family: "Bowlby One", sans-serif;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-top: 2rem;
  margin-bottom: 0rem;
  color: #B34C42;
}


h2 {
  font-size: 1.4rem;
  margin-top: 0;
  font-weight: 200;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
  color: #B34C42;
  margin: 0;
  font-weight: 600;
}

a,
a:visited {
  color: black;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: #B34C42;
  transition: all 0.3s ease;
}

a:hover {
  color: black;
  text-decoration-style: solid;
}

.vizDiv a {
  text-decoration: none;
}

.selectedWork {
  margin-bottom: 3rem;
  border: 1px dashed #94615C;
  border-radius: 5px;
  box-shadow: 5px 10px #EDEDED;
  transition: all 0.3s ease;
  padding: 0.75rem 1rem 1rem 1rem;
}

.storyDesc p:first-of-type {
  margin-bottom: 0.5rem;
}

.selectedWork:hover {
  border-color: #734B47;
  transform: translate(-1px, -1px);
  box-shadow: 6px 11px #DEDEDE;
}

.publisher {
  color: #734B47;
  background: #F0F0F0;
  display: inline-block;
  padding: 0.4rem 0.5rem;
  margin: 0 auto;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  font-weight: 400;
}

.selectedWork img {
  width: 100%;
}

.visual {
  margin-bottom: 0.75rem;
  text-align:center;
}

.tools {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0;
  font-size: 0.7rem;
  font-weight: 400;
  color: #734B47;
}

footer {
  text-align: center;
}

@media (min-width: 900px) {
  main {
    width: 90%;
    margin-top: 5rem;
  }

  .introBox, .proud {
    max-width: 750px;
    margin: 0 auto 5rem;
  }

  .proud {
    margin-top: 5rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  .workSamples {
    columns: 2;
    column-gap: 3rem;
  }

  .vizDiv {
    break-inside: avoid;
  }

}