html,
body {
  font-size: 17px;
  background: #FAFAFA;
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
  width: 88%;
  margin: 2rem auto;
  margin-top: 2rem;
}

p {
  line-height: 1.4rem;
  font-size: 0.9rem;
}


.introBox {
  margin-bottom: 3rem;
}

h1 {
  font-family: "Bowlby One", sans-serif;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-top: 2rem;
  margin-bottom: 0rem;
  color: #B34C42;
}


h2 {
  font-size: 1.4rem;
  margin-top: 0;
  font-weight: 200;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
  font-size: 1.5rem;
  color: #B34C42;
  margin: 0;
  font-weight: 600;
}

a,
a:visited {
  color: black;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: #B34C42;
  transition: all 0.3s ease;
}

a:hover {
  color: black;
  text-decoration-style: solid;
}

.vizDiv a {
  text-decoration: none;
}

.vizDiv p {
  margin: 0;
}

.selectedWork {
  margin-bottom: 2rem;
  border: 1px dashed #94615C;
  border-radius: 5px;
  box-shadow: 5px 10px #EDEDED;
  transition: all 0.3s ease;
  padding-top: 1rem;
}

.selectedWork:hover {
  border-color: #734B47;
  transform: translate(-1px, -1px);
  box-shadow: 6px 11px #DEDEDE;
}


.visual {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* padding-top: 1rem; */
  text-align: center;
  /* border-radius: 0.5rem 0.5rem 0 0; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;

}

.publisher {
  color: #734B47;
  background: #F0F0F0;
  display: inline-block;
  padding: 0.4rem;
  margin: 0 auto;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  font-weight: 400;
}


.visual h3 {
  font-weight: 700;
}

.storyDesc {
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1.5rem;
  color: black;
}

.selectedWork img {
  width: 100%;
  margin-bottom: -0.3rem;
}

.selectedWork .material-symbols-outlined {
  /* position: absolute; */
  display: inline-block;
  bottom: 10px;
  right: 10px;
  /* color: red; */
  background: #FAFAFA;
  border-radius: 5px;
  padding: 10px;
}

.tools p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0.5rem auto;
  font-size: 0.7rem;
  font-weight: 400;
  color: #734B47;
}

footer {
  text-align: center;
}

@media (min-width: 900px) {
  main {
    width: 90%;
    max-width: 750px;
    margin-top: 5rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  p {
    line-height: 1.6rem;
    font-size: 1rem;
  }

  .vizDiv {
    display: flex;
    margin-bottom: 2rem;
  }

  .selectedWork {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-around;
    padding: 1.5rem 1rem;
  }

  .selectedWork>* {
    flex: 1;

  }

  .visual {
    margin-bottom: 1.2rem;
    padding-top: 0;
  }


  .storyDesc {
    padding: 0;
  }

  .tools p {
    text-align: start;

  }

}